Django==6.0
django-environ
django-js-asset
django-storages
django-tinymce
django-widget-tweaks
whitenoise
gunicorn

Pillow==11.0.0
psycopg[binary]


requests
beautifulsoup4
soupsieve
certifi
charset-normalizer
urllib3
idna
cryptography
cffi
pycparser
nh3
packaging
stripe
